/**
 * Public CSS
 */

@import url('fonts.css');

.wcatcn-wrapper {
	box-sizing: border-box;
	position: fixed;
	bottom: 0;
	right: 0;
	left: 0;
	transition: transform 1s;
	z-index: 1000;
	border: 3px solid #999;
	border-bottom: none;
	padding: 1em;
	max-height: 40vh;
	overflow-y: scroll;
	background: white;
	transform: translateY(100%);
	font-size: 14px;
}

	.wcatcn-container {
		position: relative;
		padding-top: 1em;
	}

/* Positioning */

.wcatcn-wrapper.bottom-left,
.wcatcn-wrapper.bottom-right {
	max-height: 75vh;
}
.wcatcn-wrapper.bottom-left {
	left: 0;
	right: auto;
	transform: translateX(-100%);
	border-left: none;
}
.wcatcn-wrapper.bottom-right {
	left: auto;
	right: 0;
	transform: translateX(100%);
	border-right: none;
}

.wcatcn-wrapper.bottom:not(.bottom-left):not(.bottom-right) {
	border-left: none;
	border-right: none;
}

/* Activation */
.wcatcn-wrapper.active {
	transform: none !important;
}

/* Dismissal */
.wcatcn-dismiss {
	display: inline-block;
	position: absolute;
	top: 0;
	left: 50%;
	transform: translateX(-50%);
}
.wcatcn-wrapper.bottom-right .wcatcn-dismiss {
	left: 0;
	right: auto;
	transform: none;
}
.wcatcn-wrapper.bottom-left .wcatcn-dismiss {
	left: auto;
	right: 0;
	transform: none;
}

	.wcatcn-dismiss:after {
		font-family: 'wcatcn' !important;
		display: inline-block;
		content: "\e907";
		margin-left: 1em;
	}
	.wcatcn-wrapper.bottom-right .wcatcn-dismiss:after {
		content: "\e905";
		margin-left: 1em;
	}
	.wcatcn-wrapper.bottom-left .wcatcn-dismiss:after {
		content: "\e906";
		margin-left: 1em;
	}

/* Contents */
.wcatcn-wrapper .mini_cart_item .remove {
	float: left;
}